@import "tailwindcss";

:root {
  --background: #F6F6F6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F6F6F6;
    --foreground: #000000;
    --font-sans: var(--font-poppins);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), system-ui, sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.prose p {
  margin-bottom: 1.2rem;
}

.prose img {
  border-radius: 10px;
  margin: 2rem 0;
}

.prose h2 {
  margin-top: 2rem;
}